@using WorkForYou.WebUI.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WorkForYou.Core.ServiceInterfaces;
@using Microsoft.AspNetCore.Mvc.Localization
@using WorkForYou.WebUI.ViewModels.AdditionalViewModels
@model CandidatesViewModel

@inject IChatService ChatService
@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
    var currentPath = Context.Request.Path + Context.Request.QueryString;
}

<div class="main__search">
    @await Html.PartialAsync("_SearchBar")
    @await Html.PartialAsync("_Filtering")
</div>

<div class="vacancies">
    <div class="vacancies__searched-bar">
        <div class="vacancies__searched-bar-general">@Model.VacancyCount @ViewLocalization["Candidate"]@(ViewHelpers.GetLastStringLetters(Model.VacancyCount))</div>
        <div class="vacancies__searched-bar-sort">
            @await Html.PartialAsync("_Sorting")
            <a asp-controller="EmployerAccount" asp-action="AllCandidates" class="search-buttons detail-button detail-danger">@ViewLocalization["ResetFilters"]</a>
        </div>
    </div>

    <div class="vacancies-cards">
        @foreach (var user in Model.ApplicationUsers)
        {
            if (user.CandidateUser is not null)
            {
                var isChatExists = await ChatService
                    .IsChatExists(user.CandidateUser.CandidateUserId, Convert.ToInt32(ViewData["EmployerId"]));

                <div class="vacancies-cards__card">
                    <div class="vacancies-cards__card-title">
                        <span>@user.CandidateUser.CompanyPosition (@user.UserName)</span>
                        <div class="vacancies-cards__card-title-details">
                            <span>@user.CandidateUser.CreatedDate.ToString("d MMMM yyyy")</span>
                            <i class="fa-regular fa-eye"></i>
                            <span>@user.CandidateUser.ViewCount</span>
                            <i class="fa-regular fa-money-bill-1"></i>
                            <span>@user.CandidateUser.ExpectedSalary</span>
                        </div>
                    </div>
                    <div class="vacancies-cards__card-header">
                        <span>@user.CandidateUser.Country</span> ·
                        <span>@user.CandidateUser.City</span> ·
                        @if (user.CandidateUser.ExperienceWorkTime == 0)
                        {
                            <span>@ViewLocalization["NoExperience"]</span>
                            <span> ·</span>
                        }
                        else
                        {
                            <span>
                                @user.CandidateUser.ExperienceWorkTime
                                @ViewHelpers.GetLastStringLetters(user.CandidateUser.ExperienceWorkTime, true) @ViewLocalization["Experience"]
                            </span>
                            <span> ·</span>
                        }
                        <span>@user.CandidateUser.LevelEnglish?.NameLevel</span>
                    </div>
                    <div class="vacancies-cards__card-subtitle">
                        @if (user.CandidateUser.ExperienceWorkDescription is not null)
                        {
                            @if (user.CandidateUser.ExperienceWorkDescription.Length > 300)
                            {
                                @user.CandidateUser.ExperienceWorkDescription.Substring(0, 300)
                                <span>...</span>
                            }
                            else
                            {
                                @user.CandidateUser.ExperienceWorkDescription
                            }
                        }
                    </div>
                    @if (user.CandidateUser.KeyWords is not null)
                    {
                        var keyWords = user.CandidateUser.KeyWords.Split(", ", StringSplitOptions.RemoveEmptyEntries);

                        <div class="vacancies-cards__card-tags">
                            @foreach (var tag in keyWords)
                            {
                                <button class="search-buttons detail-button">@tag</button>
                            }
                        </div>
                    }
                    <div class="vacancies-cards__card-buttons">
                        <div class="vacancies-cards__card-buttons-header">
                            <a asp-controller="Account" asp-action="Profile" asp-route-username="@user.UserName"
                               class="search-buttons card-buttons">
                                @ViewLocalization["ReadAll"]
                            </a>
                            @if (isChatExists.IsChatExists)
                            {
                                <a class="search-buttons card-buttons" asp-controller="Chat" asp-action="AllEmployerChats">@ViewLocalization["Write"]</a>
                            }
                            else
                            {
                                <a class="search-buttons card-buttons js-modal" data-modal="#modal">@ViewLocalization["Write"]</a>

                                <div id="modal" class="modal-window">
                                    <div class="modal-window__title">
                                        <h3>Впевнені, що хочете створити чат кімнату з кандидатом?</h3>
                                        <div class="modal-window__inner">
                                            <a asp-controller="Chat" asp-action="CreateChat"
                                               asp-route-candidateUsername="@user.UserName" class="search-buttons card-buttons">
                                                Так, впевнений
                                            </a>
                                            <a href="#" class="modal-close search-buttons card-buttons detail-danger">Ні, закрити</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-window__backdrop hidden" id="modal-backdrop"></div>
                            }
                        </div>

                        @await Html.PartialAsync("_LikeButton", new SettingsViewModel
                               {
                                   CurrentVacancyId = user.CandidateUser.CandidateUserId, ReturnUrl = currentPath,
                                   CurrentController = Model.CurrentController
                               })
                    </div>
                </div>
            }
        }
    </div>

    @await Html.PartialAsync("_Pagination")

    @section Scripts
    {
        <script src="~/js/custom-select.js"></script>
        <script src="~/js/modal-window.js"></script>
    }

</div>