@using Microsoft.AspNetCore.Mvc.Localization
@model VacanciesViewModel

@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

<div class="all-vacancies-wrapper">
    <div class="all-employer-vacancies">
        <div class="all-employer-vacancies__header">
            <h1>@ViewLocalization["YourVacancies"] (@Model.VacancyCount)</h1>
            @await Html.PartialAsync("_SearchBar")
            @await Html.PartialAsync("_Sorting")
        </div>

        <div class="all-employer-vacancies__buttons">
            <a asp-controller="Vacancy" asp-action="CreateVacancy" class="search-buttons detail-button">@ViewLocalization["CreateVacancy"]</a>
            <a asp-controller="EmployerAccount" asp-action="AllVacancies" class="search-buttons detail-button detail-danger">@ViewLocalization["ResetFilters"]</a>
        </div>

        @foreach (var vacancy in Model.Vacancies)
        {
            <div class="all-employer-vacancies__vacancy">
                <a asp-controller="Vacancy" asp-action="VacancyDetails" asp-route-id="@vacancy.VacancyId">
                    <h2>
                        @vacancy.VacancyTitle
                    </h2>
                </a>
                <div class="all-employer-vacancies__vacancy-main">
                    <a asp-controller="Vacancy" asp-action="EditVacancy" asp-route-id="@vacancy.VacancyId">@ViewLocalization["Edit"]</a>
                    <span>·</span>
                    <a asp-controller="Vacancy" asp-action="AllVacancyResponses" asp-route-vacancyId="@vacancy.VacancyId">@ViewLocalization["Candidates"]</a>
                    <span>·</span>
                    <a asp-controller="Vacancy" asp-action="RemoveVacancy" asp-route-id="@vacancy.VacancyId">@ViewLocalization["Delete"]</a>
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("_Pagination")

    @section Scripts
    {
        <script src="~/js/custom-select.js"></script>
    }

</div>