@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkForYou.Shared.ViewModels.Forms.RefreshGeneralProfileInfoViewModel

@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

<div class="create-form">
    <div class="create-form__header">
        <h1>@ViewLocalization["Title"]</h1>
        <a asp-controller="Account" asp-action="RefreshGeneralProfileInfo"
           class="search-buttons detail-button">
            @ViewLocalization["Title"]
        </a>
        @if (User.IsInRole("candidate"))
        {
            <a asp-controller="CandidateAccount" asp-action="RefreshCandidateInfo"
               class="search-buttons detail-button">
                @ViewLocalization["DetailsInfo"]
            </a>
        }
        @if (User.IsInRole("employer"))
        {
            <a asp-controller="EmployerAccount" asp-action="RefreshEmployerInfo"
               class="search-buttons detail-button">
                @ViewLocalization["DetailsInfo"]
            </a>
        }
    </div>
    <form method="post" asp-controller="Account" asp-action="RefreshGeneralProfileInfo" asp-antiforgery="true">
        <div asp-validation-summary="All"></div>
        <input type="hidden" name="UserName" value="@Model.UserName">
        <input type="hidden" name="UserRole" value="@Model.UserRole">
        <div class="create-form__item">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="GithubLink"></label>
            <input asp-for="GithubLink">
            <span asp-validation-for="GithubLink"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="TelegramLink"></label>
            <input asp-for="TelegramLink">
            <span asp-validation-for="TelegramLink"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="LinkedInLink"></label>
            <input asp-for="LinkedInLink">
            <span asp-validation-for="LinkedInLink"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="SkypeLink"></label>
            <input asp-for="SkypeLink">
            <span asp-validation-for="SkypeLink"></span>
        </div>
        <div class="vacancies-cards__card-buttons">
            <input type="submit" class="search-buttons card-buttons" value="@ViewLocalization["Edit"]">
        </div>
    </form>
</div>