@using WorkForYou.WebUI.Helpers
@using Microsoft.AspNetCore.Mvc.Localization

@model VacancyViewModel

@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

<div class="card-details">
    <div class="card-details__main">
        <div class="card-details__header">
            <h1>@Model.Vacancy?.VacancyTitle</h1>
            <span>$@Model.Vacancy?.FromSalary-@Model.Vacancy?.ToSalary</span>
        </div>
        <div class="card-details__body">
            <p>@Html.Raw(Model.Vacancy?.LongDescription)</p>
        </div>
        @if (Model.Vacancy?.EmployerUser is not null)
        {
            @if (!string.IsNullOrEmpty(Model.Vacancy?.EmployerUser.CompanyName)
                 && !string.IsNullOrEmpty(Model.Vacancy?.EmployerUser.AboutCompany))
            {
                <div class="card-details__company">
                    <h3>@ViewLocalization["AboutCompany"] @Model.Vacancy?.EmployerUser.CompanyName</h3>
                    <p>@Model.Vacancy?.EmployerUser.AboutCompany</p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Vacancy?.EmployerUser.DoyCompanyLink))
            {
                <h4>@ViewLocalization["AboutCompany"]:</h4>
                <a href="@Model.Vacancy?.EmployerUser.DoyCompanyLink" target="_blank">@Model.Vacancy?.EmployerUser.DoyCompanyLink</a>
            }
        }
        <div class="card-details__footer">
            <div>
                <i class="fa-solid fa-calendar-days"></i>
                <span>@ViewLocalization["CompanyPublished"] @Model.Vacancy?.CreatedDate.ToString("d MMMM yyyy")</span>
            </div>
            <div>
                <i class="fa-regular fa-eye"></i>
                <span>
                    @Model.Vacancy?.ViewCount
                    @ViewLocalization["VacancyView"]@(ViewHelpers.GetLastStringLetters(Model.Vacancy!.ViewCount))
                </span>
                <i class="fa-solid fa-user-group" style="padding-left: 5px;"></i>
                <span>
                    @Model.Vacancy.ReviewsCount
                    @ViewLocalization["Review"]@(ViewHelpers.GetLastStringLetters(Model.Vacancy.ReviewsCount))
                </span>
            </div>
        </div>
        @if (User.IsInRole("candidate"))
        {
            @* var removeRespondStyles = !Model.IsVacancyInRespondedList *@
            @*     ? "display: none;" *@
            @*     : "display: block;"; *@
            @* *@
            @* var respondStyles = !Model.IsVacancyInRespondedList *@
            @*     ? "display: block;" *@
            @*     : "display: none;"; *@
            @* *@
            @* *@
            @* <div class="card-details__buttons"> *@
            @*     <form id="respond-vacancy-form"> *@
            @*         <input type="hidden" name="VacancyId" value="@Model.Vacancy.VacancyId" id="respond-vacancy-id"> *@
            @*         <button style="@removeRespondStyles" type="button" class="search-buttons card-buttons" id="respond-vacancy-button"> *@
            @*             @ViewLocalization["Respond"] *@
            @*         </button> *@
            @*         <button style="@respondStyles" type="button" class="search-buttons card-buttons detail-danger" *@
            @*                 id="remove-respond-vacancy-button"> *@
            @*             @ViewLocalization["CancelRespond"] *@
            @*         </button> *@
            @*     </form> *@
            @* </div> *@
            <div class="card-details__buttons">
                @if (!Model.IsVacancyInRespondedList)
                {
                    <form method="post" asp-controller="Responded" asp-action="RespondedVacancy" asp-antiforgery="true">
                        <input type="hidden" name="VacancyId" value="@Model.Vacancy.VacancyId">
                        <button type="submit" class="search-buttons card-buttons">
                            @ViewLocalization["Respond"]
                        </button>
                    </form>
                }
                else
                {
                    <form method="post" asp-controller="Responded" asp-action="RemoveRespondVacancy" asp-antiforgery="true">
                        <input type="hidden" name="VacancyId" value="@Model.Vacancy.VacancyId">
                        <button type="submit" class="search-buttons card-buttons detail-danger">
                            Cancel respond
                        </button>
                    </form>
                }
            </div>
        }
    </div>
    <div class="card-details__info">
        @if (Model.Vacancy?.WorkCategory is not null)
        {
            <p><i class="fa-regular fa-clipboard"></i> @ViewLocalization["Category"]: @Model.Vacancy?.WorkCategory.CategoryName</p>
        }
        @if (Model.Vacancy?.EnglishLevel is not null)
        {
            <p><i class="fa-solid fa-book"></i> @ViewLocalization["English"]: @Model.Vacancy?.EnglishLevel.NameLevel</p>
        }
        @if (Model.Vacancy?.EnglishLevel is not null)
        {
            @if (Model.Vacancy?.ExperienceWork == 0)
            {
                <p>
                    <i class="fa-solid fa-graduation-cap"></i> @ViewLocalization["NoExperience"]
                </p>
            }
            else
            {
                <p>
                    <i class="fa-solid fa-graduation-cap"></i> @ViewLocalization["Experience"]: @Model.Vacancy?.ExperienceWork
                    @ViewHelpers.GetLastStringLetters(Model.Vacancy!.ExperienceWork, true)
                </p>
            }
        }
        @if (Model.Vacancy?.VacancyDomain is not null)
        {
            <p><i class="fa-solid fa-lines-leaning"></i> @ViewLocalization["Domain"]: @Model.Vacancy?.VacancyDomain.VacancyDomainName</p>
        }
        @if (Model.Vacancy?.HowToWork is not null)
        {
            <p>
                <i class="fa-solid fa-briefcase"></i> @Model.Vacancy?.HowToWork.HowToWorkName
            </p>
        }
        @if (Model.Vacancy?.CandidateRegion is not null)
        {
            <p>
                <i class="fa-solid fa-earth-americas"></i>
                @if (Model.Vacancy?.CandidateRegion.CandidateRegionName == "Весь світ")
                {
                    <span>@ViewLocalization["AllWorld"]</span>
                }
                else if (Model.Vacancy?.CandidateRegion.CandidateRegionName == "Україна + Європа")
                {
                    <span>@ViewLocalization["UkraineEurope"]</span>
                }
                else if (Model.Vacancy?.CandidateRegion.CandidateRegionName == "Лише Європа")
                {
                    <span>@ViewLocalization["Europe"]</span>
                }
                else if (Model.Vacancy?.CandidateRegion.CandidateRegionName == "Лише Україна")
                {
                    <span>@ViewLocalization["Ukraine"]</span>
                }
            </p>
        }
    </div>
</div>

@* @section Scripts *@
@* { *@
@*     <script type="module" src="~/js/respond-vacancy.js"></script> *@
@* } *@