@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkForYou.WebUI.ViewModels.AdditionalViewModels.SettingsViewModel

@if (Model.VacancyCount != 0)
{
    <div class="vacancies-pagination">
        <ul class="pagination">
            <li>
                <a asp-controller="@Model.CurrentController" asp-action="@Model.CurrentAction"
                   asp-route-pageNumber="@(Model.QueryParameters.PageNumber - 1)"
                   asp-route-searchString="@Model.QueryParameters.SearchString" class="prev"
                   asp-route-username="@Model.Username" asp-route-sortBy="@Model.QueryParameters.SortBy">
                    Prev
                </a>
            </li>

            @foreach (var i in Model.Pages)
            {
                var activeClass = i == Model.QueryParameters.PageNumber ? "active" : "";

                if (i == -1)
                {
                    <span class="three-dot">...</span>
                }
                else
                {
                    <li class="pagination-item @activeClass">
                        <a asp-controller="@Model.CurrentController" asp-action="@Model.CurrentAction" 
                           asp-route-pageNumber='@i'
                           asp-route-searchString="@Model.QueryParameters.SearchString" 
                           asp-route-username="@Model.Username"
                           asp-route-sortBy="@Model.QueryParameters.SortBy">
                            @i
                        </a>
                    </li>
                }
            }
            <li>
                <a asp-controller="@Model.CurrentController" asp-action="@Model.CurrentAction"
                   asp-route-pageNumber="@(Model.QueryParameters.PageNumber + 1)" 
                   asp-route-searchString="@Model.QueryParameters.SearchString"
                   asp-route-username="@Model.Username" 
                   asp-route-sortBy="@Model.QueryParameters.SortBy" class="next">
                    Next
                </a>
            </li>
        </ul>
    </div>
}