@model WorkForYou.WebUI.ViewModels.AdditionalViewModels.SettingsViewModel

@{
    var workCategoryQueryString = Context.Request.Query["WorkCategory"].ToString().Split(",");
    var englishLevelQueryString = Context.Request.Query["EnglishLevel"].ToString().Split(",");
    var companyTypeQueryString = Context.Request.Query["CompanyType"].ToString().Split(",");
    var howToWorkQueryString = Context.Request.Query["HowToWork"].ToString().Split(",");
    var candidateRegionQueryString = Context.Request.Query["CandidateRegion"].ToString().Split(",");
}

@if (Model.VacancyCount != 0 && Model.PageCount > 1)
{
    <div class="vacancies-pagination">
        <ul class="pagination">
            <li>
                <a href="@Url.Page("", new {WorkCategory = workCategoryQueryString, EnglishLevel = englishLevelQueryString, CompanyType = companyTypeQueryString, HowToWork = howToWorkQueryString, CandidateRegion = candidateRegionQueryString, PageNumber = Model.QueryParameters.PageNumber - 1, Model.QueryParameters.SearchString, Model.Username, Model.QueryParameters.SortBy, VacancyId = Model.CurrentVacancyId})" class="next">Prev</a>
            </li>

            @foreach (var i in Model.Pages)
            {
                var activeClass = i == Model.QueryParameters.PageNumber ? "active" : "";

                if (i == -1)
                {
                    <span class="three-dot">...</span>
                }
                else
                {
                    <li class="pagination-item @activeClass">
                        <a href="@Url.Page("", new {WorkCategory = workCategoryQueryString, EnglishLevel = englishLevelQueryString, CompanyType = companyTypeQueryString, HowToWork = howToWorkQueryString, CandidateRegion = candidateRegionQueryString, PageNumber = i, Model.QueryParameters.SearchString, Model.Username, Model.QueryParameters.SortBy, VacancyId = Model.CurrentVacancyId})" class="next">@i</a>
                    </li>
                }
            }
            <li>
                <a href="@Url.Page("", new {WorkCategory = workCategoryQueryString, EnglishLevel = englishLevelQueryString, CompanyType = companyTypeQueryString, HowToWork = howToWorkQueryString, CandidateRegion = candidateRegionQueryString, PageNumber = Model.QueryParameters.PageNumber + 1, Model.QueryParameters.SearchString, Model.Username, Model.QueryParameters.SortBy, VacancyId = Model.CurrentVacancyId})" class="next">Next</a>
            </li>
        </ul>
    </div>
}