@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkForYou.Shared.ViewModels.Forms.ContactUsViewModel

@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

<header class="header" style="background-image: url('img/homePage/header.jpg')">
    <div class="header__overlay"></div>
    <div class="header__content home-container text-center">
        <h1 class="header__content-title">
            <span>@ViewLocalization["TitleStart"] <span>@ViewLocalization["TitleMiddle"]</span> @ViewLocalization["TitleEnd"]</span>
        </h1>

        <a asp-controller="Auth" asp-action="Register">
            <button class="button button-primary text-center">@ViewLocalization["ButtonToRegister"]</button>
        </a>

        <h2 class="mt-3">@ViewLocalization["ForCategories"] <span class="auto-type"></span></h2>
    </div>
</header>

<section class="section about-section pt-0">
    <div class="home-container text-center">
        <div class="about">
            <div class="about__img-holder">
                <img src="img/homePage/about-us.png"
                     class="about-image" alt="about-us image">
            </div>
            <div class="about__content">
                <h2 class="section-title mb-3">@ViewLocalization["About"]</h2>
                <p>@ViewLocalization["AboutSectionOne"]</p>
                <p>@ViewLocalization["AboutSectionTwo"]</p>
            </div>
        </div>
    </div>
</section>

<section class="section form-section">
    <div class="home-container text-center">
        <h2 class="section-title mb-5">@ViewLocalization["Contact"]</h2>
        <form method="post" asp-controller="Home" asp-action="Index" asp-antiforgery="true" autocomplete="off"
              class="contact-form">
            <div asp-validation-summary="All"></div>
            <div class="contact-form__input">
                <input asp-for="Email" placeholder="Email" class="contact-form__input-item" required>
            </div>
            <div class="contact-form__input">
                <input asp-for="Subject" placeholder="Subject" class="contact-form__input-item" required>
            </div>
            <div class="contact-form__input">
                <textarea asp-for="Message" placeholder="Message" class="contact-form__input-item" required></textarea>
            </div>
            <div class="contact-form__btn">
                <button class="button button-primary text-center">
                    <i class="fa-regular fa-paper-plane"></i>
                    @ViewLocalization["FormSend"]
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
    <script>
        const typedTranslations = {
            designers: '@ViewLocalization["Designers"]',
            devOps: '@ViewLocalization["DevOps"]',
            testers: '@ViewLocalization["Testers"]',
            pm: '@ViewLocalization["PM"]',
            all: '@ViewLocalization["All"]'
        };
    </script>
    <script src="~/js/components/home/typed.component.js"></script>
}