@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkForYou.WebUI.ViewModels.Forms.LoginViewModel

@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home_pages.css">
}

<section class="section form-section login">
    <div class="container text-center">
        <h2 class="section-title mb-5">@ViewLocalization["Title"]</h2>
        <form method="post" asp-controller="Auth" asp-action="Login" asp-antiforgery="true"
              asp-route-returnUrl="@ViewData["ReturnUrl"]" autocomplete="off" class="contact-form">
            <div asp-validation-summary="All"></div>
            <div class="contact-form__input">
                <input asp-for="Email" placeholder="Email" class="contact-form__input-item">
            </div>
            <div class="contact-form__input">
                <input asp-for="Password" placeholder="Password" class="contact-form__input-item">
                <span>
                    <i class="fa-solid fa-eye"></i>
                </span>
            </div>
            <div class="contact-form__footer">
                <div>
                    <input asp-for="RememberMe"><label asp-for="RememberMe">@ViewLocalization["RememberPerson"]</label>
                </div>
                <div>
                    <a asp-controller="Auth" asp-action="RemindPassword">@ViewLocalization["ForgetPassword"]</a>
                </div>
            </div>
            <div class="contact-form__btn">
                <button class="button button-primary text-center">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    @ViewLocalization["Title"]
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script src="~/libs/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/home-password.js"></script>
}