@using Microsoft.AspNetCore.Mvc.Localization
@model RegisterViewModel

@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home_pages.css">
}

<section class="section register form-section">
    <div class="container text-center">
        <h2 class="section-title mb-5">@ViewLocalization["Title"]</h2>
        <form method="post" asp-controller="Auth" asp-action="Register" asp-antiforgery="true" autocomplete="off">
            <div asp-validation-summary="All"></div>
            <div class="contact-form__input">
                <input asp-for="Username" placeholder="Username" class="contact-form__input-item">
            </div>
            <div class="contact-form__input">
                <input asp-for="Email" placeholder="Email" class="contact-form__input-item">
            </div>
            <div class="contact-form__input">
                <input asp-for="Password" placeholder="Password" class="contact-form__input-item">
                <span><i class="fa-solid fa-eye"></i></span>
            </div>
            <div class="contact-form__input">
                <input asp-for="ConfirmPassword" placeholder="Confirm password" class="contact-form__input-item">
            </div>
            
            <div class="contact-form__categories">
                <label asp-for="SelectedRole" class="category candidate-category" for="candidate-category">
                    <input asp-for="SelectedRole" type="radio" id="candidate-category" value="candidate">
                    <div class="category-content">
                        <img loading="lazy"
                             src="~/img/homePage/candidate.png" alt="Candidate image">
                        <div class="category-content__details">
                            <span>@ViewLocalization["CategoryCandidate"]</span>
                            <p>@ViewLocalization["CandidateDescription"]</p>
                        </div>
                    </div>
                </label>
            
                <label asp-for="SelectedRole" class="category employer-category" for="employer-category">
                    <input asp-for="SelectedRole" type="radio" id="employer-category" value="employer">
                    <div class="category-content">
                        <img loading="lazy"
                             src="~/img/homePage/employer.png" alt="Employer image">
                        <div class="category-content__details">
                            <span>@ViewLocalization["CategoryEmployer"]</span>
                            <p>@ViewLocalization["EmployerDescription"]</p>
                        </div>
                    </div>
                </label>
            </div>

            <div class="contact-form__btn">
                <button class="button button-primary text-center">
                    <i class="fa-solid fa-share"></i>
                    @ViewLocalization["Title"]
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script src="~/libs/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="~/libs/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/home-password.js"></script>
}